<!DOCTYPE html>
<html>
<head>
    <title>在庫一覧</title>
</head>
<body>
    <h1>在庫一覧</h1>
    <a href="/add">商品追加</a>
    <a href="/alert">要発注のみ</a>

    <table border="1">
        <tr>
            <th>商品</th><th>在庫</th><th>基準値</th><th>状態</th><th>操作</th>
        </tr>
        {% for p in products %}
        <tr style="background-color: {% if p[3] <= p[4] %}red{% else %}white{% endif %};">
            <td>{{ p[1] }}</td>
            <td>{{ p[3] }} {{ p[5] }}</td>
            <td>{{ p[4] }}</td>
            <td>{% if p[3] <= p[4] %}要発注{% else %}OK{% endif %}</td>
            <td><a href="/update/{{ p[0] }}">更新</a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>